<%- include('partials/header'); %>

    <h2 class="mt-3">Authentication Only</h2>
    <div id="payment-options">
        <div class="card el-container mt-3 mb-3">
            <h5 class="card-header">Payment Options</h5>
            <div class="card-body">
                <form id="options">
                    <div class="row">
                        <div class="col-sm-12">
                            <%- include ('partials/commonPaymentOptions'); %>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-check form-switch mb-3">
                                        <input class="3DS form-check-input" type="checkbox" id="allow3DS2">
                                        <label class="form-check-label" for="allow3DS2">Allow 3DS2</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-check form-switch mb-3">
                                        <input class="3DS form-check-input" type="checkbox" id="3DS" checked
                                            style="display:none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Reload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="el-container">
        <div class="accordion mb-4" id="accordionMethodsRequest">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMethodsRequest">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMethodsRequest" aria-expanded="false" aria-controls="collapseOne">
                        Payment Methods Request
                    </button>
                </h2>
                <div id="collapseMethodsRequest" class="accordion-collapse collapse"
                    aria-labelledby="headingMethodsRequest" data-bs-parent="#accordionMethodsRequest">
                    <div class="accordion-body">
                        <pre id="methods-request"></pre>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMethodsResponse">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMethodsResponse" aria-expanded="false"
                        aria-controls="collapseMethodsResponse">
                        Payment Methods Response
                    </button>
                </h2>
                <div id="collapseMethodsResponse" class="accordion-collapse collapse"
                    aria-labelledby="headingPayentResponse" data-bs-parent="#accordionRequest">
                    <div class="accordion-body">
                        <pre id="methods-response"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <%- include('partials/paymentMethods') %>
        </div>
    </div>

    <div class="row" style="border-top: 1px solid #f3f6f9;">
        <div class="col-md-6" id="render-payment">
            <div id="container" class="theme-default">
                <div id="component-container" class="el-container">
                    <div class="clearfix">
                        <div style="float:left">
                            <%- include('partials/themes'); %>
                        </div>
                        <%- include('partials/versions') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <%- include ('partials/result'); %>
        </div>
    </div>

    <script src="js/themes.js"></script>
    <script src="js/authonly.js"></script>

    </main>

    <%- include ('partials/footer'); %>